site_name: "Currículo - Stefanie Tavares dos Reis"

theme:
  name: material
  language: pt-BR
  features:
    - navigation.sections
    - navigation.expand
    - toc.integrate   # títulos aparecem na lateral
    - navigation.top

markdown_extensions:
  - attr_list
  - md_in_html
  - pymdownx.superfences
  - pymdownx.magiclink
  - pymdownx.tabbed:
      alternate_style: true

plugins:
  - search

nav:
  - Currículo: index.md
